.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.screen-header__icons {
    position: relative;
}
.badge-sm {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight: 600;
    right: 0px;
    bottom: 20px;
}
